<br>
<br>
<div class="container">
  <!-- formulario -->
    <form [formGroup]="user">


      <!-- campo nombre -->
      <div class="form-group">
          <label class="control-label col-md-2">Nombre y apellidos</label>
          <input type="text" formControlName="nombre" placeholder="Nombre" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.nombre.errors}">
         
            <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
                <div *ngIf="f.nombre.errors.required">El nombre es obligatorio</div>
           </div>
         
      </div>

      <!-- boton -->
      <div class="form-group">
        <button class="btn btn-primary" (click)="enviarDatos()">Enviar</button>
    </div>
     
    </form>
</div>


  
